@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 247 247 250;
  --foreground: 15 23 42;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

